<h1>Tu carrito</h1>
<div id="message">
</div>
<div id="ticket">

</div>
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>costo</th>
        </tr>

    </thead>
    <tbody id="cartProducts">        
    </tbody>
    <tfoot>
        <tr>
            <td  colspan="4"><button id="buy">Comprar </button></td>
        </tr>
    </tfoot>
</table>
<script src="/static/js/cart/show.js"></script>