
<a href="/users">Usuarios</a>
<a href="/profile">Mi Perfil</a>
<a href="/index">Productos</a>
<a href="/products/create">Crear Producto</a>
{{#if true}}
<a href="/cart">Ver carrito</a>
{{/if}}
<div style="display:inline" id="logout-button">
    <strong>Salir</strong>
</div>
