<h1>Productos</h1>

<div id='productBox' class=""></div>
<div id='sample_item' class="" style="padding:10px 15px; display:block">
i    <ul>
        <li><strong name="title">[nombre_producto]</strong></li>
        <li><strong>Precio:</strong><span name="price"></span></li>
        <li><strong>Disponibles:</strong><span name="stock"></span></li>
        <div class="">
{{!--             <button value="1" onclick="modCounter(event)" type="button">+</button> --}}
        <form id='' action="">
            <input type="number"  min="0" value='0' name="counter" id="">
            <input type="hidden" name="">
            <button type="button" onclick="addProd(event)" >Agregar</button>
        </form>
{{!--             <button value="-1" onclick="modCounter(event)" type="button">-</button> --}}
        </div>
    </ul>
</div>

<script src="/static/js/product/index.js"></script>