<div class="" style="background-color: goldenrod; padding: 50px; margin:auto; margin-top:200px">
    <h1 style="color: red;">
        ERROR 401 <br> Inicie sesion para acceder
    </h1>
</div>

<script>
    window.addEventListener('load', async () => {
        setTimeout(function() {
            window.location.href = '/login';
        }, 3000);
    })
</script>