<div class="" style="background-color: goldenrod; width:20%; padding: 50px; margin:auto; margin-top:200px">
    <h1 style="color: red;">
        ERROR 403 <br> No tiene permisos para esta accion
    </h1>
</div>

<script>
    window.addEventListener('load', async () => {
        setTimeout(function() {
            window.location.href = '/index';
        }, 2000);
    })
</script>